[2016-09-12 09:37] srsgores opened #1 "Extends Fails with "Page not found""
Any usage of the `extends` keyword, [as documented here](https://pugjs.org/language/extends.html), will result in the following error:

It appears this may be due to [**not** specifying `basedir`](https://github.com/pug-php/pug/issues/63).

Usage ([as specified in the pug docs](https://pugjs.org/language/extends.html)):

_layout.pug_

[code]

_index.pug_

[code]

[2016-09-12 16:02] weotch commented on #1
@srsgores Would you agree that `basedir` should be `resources/views`?

[2016-09-12 23:58] srsgores commented on #1
@weotch. no.  I still get the same error when I set `basedir` to `"resources/views"`.  Can you replicate on your end?

[2016-09-13 15:43] weotch commented on #1
@thelucre think you could take a look at this?

[2016-09-14 18:56] #1 closed, assigned to thelucre

[2016-09-14 19:15] thelucre commented on #1
@srsgores The `extends` syntax is a bit different than the official docs. See https://github.com/BKWLD/laravel-pug#extending-layouts

I have an issue in with the php parser to get closer to the Jade proper syntax
https://github.com/pug-php/pug/issues/69

[2016-09-14 19:30] thelucre commented on #1
@srsgores Also note, the `basedir` should be absolute. The new config defaults with `'basedir' => resource_path('views')`

https://github.com/BKWLD/laravel-pug/blob/master/config/config.php#L9

[2016-09-14 21:45] kylekatarnls commented on #1
Hi, extends layout.pug should works with index.pug and layout.pug in the same directory, else use relative path to your layout or absolute path starting with a slash and use the basedir option. This is the pugjs behaviour as far as I know.

[2016-09-14 21:46] thelucre commented on #1
You're right. Thanks for the info!

[2016-09-15 00:00] srsgores commented on #1
Guys, just tried using `/` in my path, but now I'm getting a different error:

Can anyone provide a sample of their `pug.php` config file?  Even when I set:

[code]

I still get this error.

[2016-09-15 00:06] thelucre commented on #1
@srsgores You'll need to use the laravel function to pull the absolute path in your config. See my response above https://github.com/BKWLD/laravel-pug/issues/1#issuecomment-247127387

[2016-09-15 00:23] srsgores commented on #1
@thelucre, I did notice that.  But even with the `resource_path("views")`, it still wouldn't work.  I don't think the library was accessing my `config/pug.php` file.  I had to manually edit `/vendor/bkwld/laravel-pug/config.php`, and add that line.  Not sure why yet.  Not sure how to manually update to [the latest commit](https://github.com/BKWLD/laravel-pug/commit/874deb5872134be6c7fad07b62cfa247

[2016-09-15 05:51] kylekatarnls commented on #1
You can set the package version to "dev-master" (always prefer stable version), this setting allow you to get the last version of the master branch.

[code]

[2016-11-07 02:12] yozman opened #2 "could u please add some sample"
could u please add some sample at `README.md`?

[2016-11-29 19:02] nmsmith22389 opened #3 "Refreshing in browserSync in elixir?"
Could you tell me how to add it to also cause a refresh in elixir? Everything will trigger a refresh on change except the pug files.

[2016-11-29 19:03] nmsmith22389 commented on #2
If it's pug example code you are looking for then just check out [here](https://pugjs.org/api/getting-started.html).

[2016-11-29 19:07] weotch commented on #3
I'm not an elixir user, but maybe you could setup browserSync to watch the `storage/framework/views` directory ... that's where compiled templates end up.

[2016-11-29 19:10] nmsmith22389 commented on #3
Yeah I tried that but it seems to override the other watch folders and breaks the others. Elixir is supposed to make everything easier but it has almost no configurability. I'm starting to think it was a mistake to use it instead of just plain gulp. I'm not very familiar with Elixir and I can't really find much documentation.

[2016-11-29 19:16] nmsmith22389 commented on #3
Do you think it would be better to switch to an elixir based converter? I think that would fix the problem maybe.

[2017-01-12 19:40] fidgetwidget commented on #2
I think the kinds of examples that would be helpful here are how to use blade directives in the pug syntax.

from what I can tell, you'll want to use the :escaped filter and you'll need to handle both the beginning and ending statements for each directive.

eg.
[code]

It would be nice if this had some custom keyword support for them
eg.
[code]

[2017-01-14 19:32] nmsmith22389 commented on #2
Yeah I suppose I agree... It's not a very elegant solution because I feel like it messes some of the blade stuff up and doesn't work as well as I would like it to. The lack of docs isn't very helpful either.

ಠ_ಠ

[2017-01-20 11:14] Konafets opened #4 "Indent of blade code"
Consider I have this blade code in my template:

[code]

which looks like this in pug:

[code]

For the sake of better structure I like to indent the blade keywords here too, so that I have the snippet which looks like:

[code]

However, I get a `ErrorException in Parser.php line 248:
(24) : Unexpected token "indent"` error

Is there a workaround or hidden feature in pug?

[2017-01-20 17:01] weotch commented on #4
I don't think so, Pug is very specific about how you use indenting.  But I'm not expert-grade in pug/jade.  If it's possible, I imagine it's in the Pug docs: https://pugjs.org/api/getting-started.html

[2017-01-20 17:01] #4 closed, assigned to nobody

[2017-01-29 19:59] ndintenfass opened #5 "1.1 does not have the basedir config default value"
For reasons I can't explain my /config/pug.php is not getting picked up at render time. When I `tinker` in the terminal the configurations seem to be there, but when I load the page I get the "The 'basedir' option need to be set to use absolute path like..." message. My fix was to manually add the line that's in the current `master` branch in config.php that has the basedir, but that does not appe

[2017-02-23 02:47] Riant commented on #5
Same problem to me.

I fixed that with a config file in laravel config folder called "laravel-pug.php", So you can add a file "/config/laravel-pug.php", set content as below, then set pug options to be here.

[code]

[2017-02-24 09:19] Riant opened #6 "Ternary Operator issue"
The Pug code like below:
[code]

When I call the mixin with `+avatar_img('abc')` or `+avatar_img()`, I got the error like below:
[code]

It looks like did not support the ternary operator like `a ? b : (c ? d : 'xxx')` or `a ? b : ( c || 'xxx')`.

Thanks.

[2017-02-24 18:29] weotch commented on #6
I suggest you report this to https://github.com/pug-php/pug which is the package responsible for actually parsing the pug/jade

[2017-02-24 18:29] #6 closed, assigned to nobody

[2017-02-27 02:11] Riant commented on #3
My gulpfile.js content, wish it is useful for you.
[code]

[2017-02-28 16:01] weotch commented on #5
@thelucre Lets look at this when you get in and make sure the config file is named what we want it to be.

[2017-02-28 16:02] #3 closed, assigned to nobody

[2017-02-28 16:02] #2 closed, assigned to nobody

[2017-02-28 16:03] weotch commented on #2
I'm not a blade user myself.  If there is something you learned that wasn't immediately obvious, feel free to PR the README with it.

[2017-03-26 03:15] partounian commented on #2
I noticed you closed this on grounds of the PR to README, but could the addKeyword functionality be added? Or does anyone know how to use the customKeywords passthrough for this? I have tried inputting the arguments of the above command in the passthrough array and with slight variations to no avail. Also noticed, I can't use a php function inside a tag/value (notable, the csrf_token function).

I

[2017-03-26 08:00] kylekatarnls commented on #2
`addKeyword` is not what you need here, then it neither the syntax to pass value, to call global functions just use:

`input(type='hidden' value!=csrf_token() name='_token')`

You can also use the raw code with:

`- csrf_field()`

If the functions are not global, you will have to pass it from your framework to view variables, see the helpers documentation: https://github.com/pug-php/pug#php-helper

[2017-03-26 09:10] Konafets commented on #2
Just want to add some of my experience with PUG and Blade:
It does not work or on a very inconvenience level. The code looks really bad and the mixture of Blade and PUG does not always work. Mainly because of the expected indention of PUG.

However, I found another nice way to use PUG with Laravel: VueJs and VueLoader. It is described here: https://vuejs.org/v2/guide/single-file-components.html

I

[2017-03-26 14:53] kylekatarnls commented on #2
Vue.js is a really different approach. For example, to inject data in template since, you send data and template and let the client compile it. With pug server-side, you send to the client rendered HTML with data already compiled in it.

But what I really not undrestand is what mix blade an pug? It seems redundant to me (`each`, mixins, expression insertion), all exist in pug.

[2017-03-27 06:57] Konafets commented on #2
Yes, the approach is different. Regarding the mix of blade and pug: I thought you are bound to use Blade for things like iterations and did not looked carefully to the pug documentation. Thanks for pointing it out.

[2017-03-27 08:02] kylekatarnls commented on #2
Blade iterations are very verbose. And Pug iterations indent is meaningful. I recommend:

[code]

over any blade wrapping for iterations.

Also prefer to well learn and use 1 template engine rather than use several and miss nice features.

[2017-03-27 15:07] partounian commented on #2
Just starting off I am using pug to simply have the HTML look clean while using blade for the logic.

[2017-03-27 15:08] partounian commented on #2
Also the reason I was asking about custom keywords is so I can use the blade logic without :escaped

[2017-03-27 16:08] weotch commented on #5
Fixed in #8

[2017-03-27 16:08] #5 closed, assigned to nobody

[2017-03-27 18:55] kylekatarnls commented on #2
What do you call blade logic? Sections is block in pug, component is mixin, can you tell me what feature of blade you would implement as a new keyword? Because both blade and pug are very complete template engines and I don't see what would miss. Are you looking for the `$loop` information feature?

[2017-03-28 03:12] partounian commented on #2
Foreach for example.

[2017-03-28 07:26] kylekatarnls commented on #2
As I already say here: https://github.com/BKWLD/laravel-pug/issues/2#issuecomment-289381418 and here: https://github.com/BKWLD/laravel-pug/issues/2#issuecomment-289289313 foreach exists in pug:
`each item in items` is exactly the same as `@foreach ($items as $item)`, do not reinvent the wheel, take benefit of existing features.

We should not implement blade helpers until having a good reason to d

[2017-03-28 19:34] partounian commented on #2
My apologies, I thought the foreach in pug would only be using JS variables, I did not realize it is integrated that nicely with Laravel's PHP.

[2017-03-29 10:12] kylekatarnls commented on #2
Glad it works for you now. :)

[2017-04-02 01:19] fdorantesm opened #12 "Config does not work"
Hi, today i've installed laravel-pug. I configured pug with these params but doest not work because is caching, has multiline and doesn't keep filename.

Following instructions i got:
    [InvalidArgumentException]
    Configuration not found.

Put following on app/config/packages/bkwld/laravel-pug/config.php not works. Config file is not included and config array's length is zero.

[code]

Thanks

[2017-04-13 13:17] Konafets commented on #2
What is the equivalent of @yield and @stack in pug?

[2017-04-13 13:51] kylekatarnls commented on #2
See block and append. Should acheive the same goal.

[2017-04-13 15:34] Konafets commented on #2
Thanks, one more question:

I have this code
[code]

According to this [comment](https://github.com/BKWLD/laravel-pug/issues/2#issuecomment-289255283) the usual moustache syntax should work, but it does not. I got

[code]
 in the FE.

I also tried `- config('app.locale')`, which does not work out neither.

[2017-04-13 15:40] fdorantesm commented on #2
You don't need to use moustaches.

`html(lang=config('locale'))

[2017-04-21 19:37] carusogabriel opened #13 "Cache for production"
Hello there :wave:

Can someone please help me in this one: how can I <b>cache</b> compiled files to use in production, to _improve_ `storage` and `performance`?

Thanks :smile:

[2017-04-21 19:41] weotch commented on #13
Laravel takes care of that automatically.  The compiled pug files are stored in `storage/framework/views` and will be used on subsequent requests as long as the pug file hasn't changed since the cache was created.  It's as described here: https://laravel.com/docs/5.4/blade#introduction

This package taps into the same subsystem for caching views as blade.

[2017-04-21 19:41] #13 closed, assigned to nobody

[2017-04-22 17:27] bickle66 opened #15 "Evaluating Class attribute doesn't work as expected"
Great work on this project but blade logic doesn't get evaluated on class attributes.

`li(class="{{ $show == 1 ? 'active' : '' }}")`

outputs to

`<li class="{{ $show == 1 ? 'active' : '' }}">`

[2017-04-23 01:16] kylekatarnls commented on #15
We do not expect this to work, there is no brackets like that in pug.
`li(class=($show == 1 ? 'active' : ''))`
Should work.

[2017-04-23 06:59] bickle66 commented on #15
I had the above working on compiled pug -> blade through a gulp process. figured it should work here.

But that worked! Thanks,

[2017-04-23 06:59] #15 closed, assigned to nobody

[2017-05-09 14:58] SkyaTura opened #16 "Include something.pug.blade.php not parsing"
I just noticed that if you include a .pug.blade.php file will just write in plain text instead of parse pug.

[2017-05-09 15:06] kylekatarnls commented on #16
Why a **.php** would be parsed with pug? It's the same expected behavior as in pugjs:
https://pugjs.org/language/includes.html
Any other file than **.pug** (or the extensions you would add) will be included as plain text.

In order to parse **.php** files with pug, add it with the extension option:
[code]

But such a triple extension seems to me a very confusing way to name your files (you can hav

[2017-05-10 03:49] acidjazz opened #17 "cache is not cleared when i modify something I'm extending"
say `pages/home.pug` extends `layout/core.pug`

if i modify `home.pug` the cache is cleared and upon refresh i see the updated content, but this is not the case when i modify `layout/core.pug` , the cache will not reload until i again modify `pages/home.pug`

[2017-05-10 07:06] kylekatarnls commented on #17
Indeed, this is a very tricky part since it means, the cache should detect all extends/includes in templates and recursively (extends/includes in extended/included files). It could make the cache system very heavy for just avoiding saving files manually. For production, you would have no problem if you follow this recommendation:
https://github.com/pug-php/pug#cache

[2017-05-10 21:34] acidjazz commented on #17
@kylekatarnls thanks, any recommendations for development? is there any way to turn the cache off?

[2017-05-10 23:03] kylekatarnls commented on #17
Of course, in dev, you can work with no cache at all:
[code]

[2017-05-10 23:22] acidjazz commented on #17
i tried that via dumping the config to `config/laravel-pug.php` which now is

[code]

and it's still caching and not updating, also ran `php artisan config:cache` and `php artisan cache:clear` to no luck

[2017-05-11 06:45] kylekatarnls commented on #17
Maybe linked to this issue #12 I will inspect the config.

[2017-05-11 06:56] kylekatarnls commented on #12
Hi, I will inspect this issue did you follow this section: https://github.com/BKWLD/laravel-pug#configuration

And are your on Laravel 4 or 5?

[2017-05-11 06:56] kylekatarnls commented on #17
Hi, did you follow this section: https://github.com/BKWLD/laravel-pug#configuration

And are your on Laravel 4 or 5?

For now, I can confirm the bug on Laravel. I tested other config and followed instructions, but they are not taken into account.

[2017-05-11 08:34] kylekatarnls commented on #17
Fixed, now you just have to wait @weotch merge the pull-request #18 and create a tag to update your projet.

[2017-05-11 15:04] fdorantesm commented on #12
Hi Kyle! Im using laravel 4 and i followed the instructions, even that's not right, it was necessary to add vendor path.

[2017-05-11 16:39] #12 closed, assigned to nobody

[2017-05-11 16:39] #17 closed, assigned to nobody

[2017-05-11 16:41] weotch commented on #17
@acidjazz Can you confirm that `dev-master` solves your issue before we tag it?

[2017-05-11 16:50] kylekatarnls commented on #12
It closed the issue because of the description I gave to the pull request, but I'm not sure for this issue. I will try on Laravel 4. @WCLab can you tell me about what you had to do to solve your problem (to what have you add the vendor path ?)

[2017-05-11 17:21] weotch commented on #16
This should work, if you want to add support within your app.  Add this in your app service provider:

[code]

[2017-05-11 17:21] #16 closed, assigned to nobody

[2017-05-11 18:31] acidjazz commented on #17
@weotch as soon as I get home I'll pull in dev-master and test!

[2017-05-12 00:09] acidjazz commented on #17
@weotch @kylekatarnls just tested w/ dev-master, I can confirm this :bug: is fixed

[2017-05-12 00:10] weotch commented on #17
@kylekatarnls You wanna release the tag with your new powers?

[2017-05-12 07:19] kylekatarnls commented on #17
**1.3.0** released 😄

[2017-05-12 08:33] kylekatarnls opened #19 "Assets management"
[pug-symfony](https://github.com/pug-php/pug-symfony) embed [pug-assets](https://github.com/pug-php/pug-assets) and [pug-minify](https://github.com/pug-php/pug-minify)

This stack allow any symfony user to have less, stylus, coffee and jsx files right in templates with no more install:

[code]

It also permit to concat and minify scripts and styles in production and provide a command to build all

[2017-05-12 15:37] weotch commented on #19
Would you agree that all the work that this does is all pre-compilation of the view? So adding these features wouldn't increase overhead per-request?

[2017-05-12 15:58] kylekatarnls commented on #19
1/ It's on autoload: only `link` and `script` inside the following tags (custom keyword): assets, concat, concat-to, minify, minify-to will be taken into account. If there are no such keywords in the templates anything is loaded.
2/ The publish command is here to build all the assets and the templates in the cache directory, then when users ask for, there is no pug compilation, no asset compilatio

[2017-05-12 18:39] weotch commented on #19
Cool, go for it.  Doesn't sound like a breaking change either; it's all additive.

[2017-05-14 17:08] fdorantesm commented on #12
@kylekatarnls  I've added this param to the publish command: `--path=vendor/bkwld/laravel-pug/config`.

I'll watching for new releases, thanks.

[2017-06-11 20:53] fbcarpinato opened #20 "Syntax highlighting in IDEs"
Can't get the jade/pug syntax with in files like " *.pug,blade.php"

[2017-06-11 21:04] kylekatarnls commented on #20
Could you be a bit more specific?

Did you follow the README: https://github.com/BKWLD/laravel-pug/blob/master/README.md

I see a comma in your post: `" *.pug,blade.php"`, it should be all dots: `"*.pug.blade.php"`

[2017-06-11 21:20] fbcarpinato commented on #20
I miss writed in the post the file name, the problem is that the jade syntax recognized in the blade files (at least in phpstorm), there is some fix?

[2017-06-12 06:49] kylekatarnls commented on #20
Each syntax in your IDE PhpStorm or any else need a plugin to be properly highlighted. Some of them are installed by default. But the all-in-one blade and pug plugin does not exist in PhpStorm until someone created it. My recommandation is to use `.pug` extension because blade and PHP are punctual part in pug templates (the same way you can embed javascript and css in `.html` files does not mean y

[2017-06-12 13:07] #20 closed, assigned to nobody

[2017-06-21 13:03] diegovdc opened #21 "extend pug.blade"
Hello, is it possible to extend a pug.blade file? So that legacy layouts can remain usable, but also extendable.

So as to be able to do something like this:
[code]

[2017-06-21 13:18] diegovdc commented on #21
Update: I see that it is actually possible, but it turns out that the error was that I had an admin.blade.php and and an admin.pug.blade, and the fact that bod shared the same "first name", `admin`, was the cause of the error, would that be an actual issue?

[2017-06-21 13:36] kylekatarnls commented on #21
Hi,

We talk a lot about file extensions in issues. They are the root of many confusion for users. That's why I recommend to follow this best practice:

**Only one extension per file.**

It make sense because you never have multiple languages at the same level, you have 1 main language that embed others. For example, `.html` can embed inline JS and CSS but you never name your file `.css.js.html` y

[2017-07-02 09:18] #21 closed, assigned to nobody

[2017-07-02 09:39] kylekatarnls commented on #16
Hi, I just realize the blade feature is only enable with with the double/triple extension and understand better the problem and took a look at the `addExtensions` @weotch added. Just a doubt:
https://github.com/BKWLD/laravel-pug/blob/master/src/ServiceProvider.php#L144
This shouldn't be:
[code]
Instead of:
[code]
It seems there is no `jade.blade` engine registered.

[2017-07-02 13:36] diegovdc commented on #21
thank you Kyle!

[2017-07-18 14:53] kylekatarnls opened #22 "Cli settings"
Hi,

Just a note to speak about what I did in pug-symfony recently and could be done in laravel-pug:
https://github.com/pug-php/pug-symfony/commit/da85a33a5e36540e6a4461752a09441d91325a3f

It's a script triggered after `composer require thepackage`, it ask some questions to the user and change settings accordingly to his answers.

The same system could allow the config step (https://github.com/BKW

[2017-07-18 18:13] weotch commented on #22
Wow, cool!  I just read about this: https://medium.com/@taylorotwell/package-auto-discovery-in-laravel-5-5-ea9e3ab20518.  I think this feature of 5.5 will take care of that specific configuration step very soon.  You agree?

[2017-08-06 22:35] elizabethclouser opened #23 "View::compose() doesn't pass data to pug partials"
Laravel version: 5.4

## app/Http/Composers/CurrentUserComposer

[code]

## app/Providers/ComposerServiceProvider.php

`View::composer('admin.dashboard', 'App\Http\Composers\CurrentUserComposer');`
 ^ Passes $user to the admin.dashboard.pug template

`View::composer('admin.partials.header', 'App\Http\Composers\CurrentUserComposer');`
^ But this doesn't send $user to the admin.partials.header.pug p

[2017-08-07 15:19] weotch commented on #23
Instead of using `include`, what if you do something like:

[code]

In other words, use Laravel's view renderer rather than Pug's `include`.  I'm guessing it doesn't work as you've described because Laravel isn't managing the rendering of the partial and thus the `composer` hook can't do it's thing.

[2017-08-07 17:30] #23 closed, assigned to nobody

[2017-08-07 19:52] kylekatarnls commented on #23
Hi @jamesclouser, glad you can make it work. I would be interested in seeing if there is something we should improve. The `Pug` class has a `share` method that allows to share a variable for all views rendered with Pug. Ideally, laravel-pug should be intuitive and works like blade.

Can you confirm the following?

You have the following `admin.dashboard.pug`:
[code]
And `admin.partials.header.pug`

[2017-08-21 08:43] kylekatarnls commented on #22
@gabriel-caruso took this action. I tested his pull-request, it perfectly works.

With:
[code]
And install step 2 (add the service provider) is no longer needed to get pug templates rendererd.

[2017-08-21 16:01] weotch commented on #22
I'm for tagging a new minor release  and closing this issue.  Cool?

[2017-08-21 20:30] kylekatarnls commented on #22
I think it's a good start, but we can also skip the step 2 on laravel < 5.5 using the same way as in https://github.com/pug-php/pug-symfony, that's why I started this branch: https://github.com/BKWLD/laravel-pug/tree/auto-publish-vendor

Let resume, install/config steps are:
1. composer require bkwld/laravel-pug
2. Add the service provider to your app.php providers: Bkwld\LaravelPug\ServiceProvide

[2017-08-21 20:31] kylekatarnls commented on #22
But patch/minor version can be released for that yet.

[2017-08-23 21:20] #22 closed, assigned to kylekatarnls

[2017-08-24 20:29] kylekatarnls opened #26 "Unit tests and continuous integration"
Hi,

I started to code unit tests to ensure all still working as expected in all PHP and Laravel versions:

https://github.com/kylekatarnls/laravel-pug/pull/1

I have not enough rights to enable TravisCI (https://travis-ci.org) to execute unit tests on different PHP/dependencies versions.

I would also recommand to enable the tools we use on our projects:
- https://styleci.io for code style
- http

[2017-08-28 23:32] philliphartin opened #28 "How to access functions through pug variable?"
I am porting over existing blade templates to pug.
One of the patterns that is used extensively in the default authentication views bundled with the framework is the use of MessageBags, and a global $errors variable that can be accessed in any view.

I wanted to know how this could be converted into a pug template.

[code]

As you can see, it accesses the errors objects, runs the any() method whic

[2017-08-28 23:39] philliphartin commented on #28
I actually got it working with `errors->all()`. Is this how I should be accessing it? Seems a bit non-javascript

[2017-08-28 23:55] weotch commented on #28
Since you're still in PHP technically, I would expect to work with the php operator, like you discovered.  But this is gonnna be the purview of https://github.com/pug-php/pug, we are a wrapper for that package.

[2017-08-28 23:55] #28 closed, assigned to nobody

[2017-08-29 00:53] philliphartin commented on #28
@weotch Makes sense. Thanks for your help!

[2017-08-29 09:30] kylekatarnls commented on #19
Done: https://github.com/kylekatarnls/laravel-pug/compare/master...kylekatarnls:minify-assets

I added unit tests for this, so its based on the unit-tests branch and require first #27 to be merged.

[2017-08-29 10:35] kylekatarnls commented on #28
Hi @pjhartin We did some quick translate from JS syntax to PHP syntax. It's done by this engine: https://github.com/pug-php/js-phpize

In theory, your code with the dot should work. I tested with the following:
https://pug-demo.herokuapp.com/?embed&theme=xcode&border=silver&options-color=rgba(120,120,120,0.5)&engine=pug-php&input=doctype%20html%0Ahtml(lang%3D%22en%22)%0A%20%20body%0A%20%20%20%20ea

[2017-08-29 21:27] weotch commented on #26
I setup accounts on:

- travis
- styleci
- codeclimate
  - Here is the reporter id if you want to set it up code coverage there `b9dac85e7024fb18994b92d2d92f8026cd9be15ef620b9a9f4095e6754a1b3de`

[2017-08-29 21:45] weotch commented on #26
Nvm, I went ahead with https://codecov.io

Thanks for doing all of that work!  Awesome!

[2017-08-29 21:45] #26 closed, assigned to kylekatarnls

[2017-08-29 21:52] weotch commented on #19
#27 is merged now if you wanna send over that PR.

[2017-09-04 11:29] #19 closed, assigned to nobody

[2017-09-08 19:19] bickle66 opened #31 "Custom directives just echo out to page"
I am using [critical-css](https://github.com/kalfheim/critical-css) which has a custom directive

`@criticalCss('some/route')`

This works in blade fine, so I can work around this by ```@including('critical')``` but has anybody else experienced this problem with custom directives on Laravel 5.4 & laravel-pug 1.3.1?

[2017-09-08 19:45] kylekatarnls commented on #31
With the extension `.pug.blade`, you should be able to mix blade and pug like this:

[code]

Do you get trouble with this code?

[2017-09-08 20:54] bickle66 commented on #31
Yeah, that's what I have and it just writes it out on the screen.

I just did a little test and wrote my own custom directive:

[code]

```@test('Bickle66')```

from a `pug.blade` just outputs `@test('Bickle66')`

but from a regular blade outputs

```Hello Bickle66```

So I can confirm custom directives are not working in pug.blade (at least for me).

[2017-09-11 13:10] kylekatarnls commented on #31
Hi,

Sorry, I forgot the API. In fact, the .pug.blade is not a real mixed syntax (it would be too messy), it's a first step of pug compilation, then blade compilation, it means, the whole template code must have a valid pug syntax. And this pug template must render a valid blade template, so you can do this:

[code]
Note there is a dot after `div`, that means for pug everything inside the div is j

[2017-09-12 03:58] bickle66 commented on #31
I can confirm that with, or without the pipe | it is still producing the same results.

I know the directive works because I can see it from a regular blade, but this:

[code]

produces the entire rendered content section within my layout, but with:
`@test()`
above the jumbotron. _without_ the pipe.

If I remove the pipe, I get identical results.

[2017-09-12 07:14] kylekatarnls commented on #31
Sorry. OK, I understand. As the `.pug.blade` has its own blade engine inside, it does not get the customizations. I will try to fix it.

Beside, you can set a pug directive:

[code]

So you can use it directly in the pug code:

[code]

[2017-09-12 09:31] kylekatarnls commented on #31
Custom directives are now available in `.pug.blade` templates.

Please tell me if all is fine for you or if you get any trouble.

[2017-09-12 10:11] kylekatarnls commented on #31
We released a fix to get custom blade directive. You can just update to the last version (1.4.1) with `composer update`

[2017-09-12 14:44] bickle66 commented on #31
Worked like a charm! Thanks!

[2017-09-12 14:44] #31 closed, assigned to nobody

[2017-10-25 08:27] montyclt opened #34 "Breaking changes"
My project broken after `composer update`

Pug 3 has breaking changes.

In my case, in last pug version I was using PHP syntax in all except each loop, and in Pug 3 in need use PHP syntax in all.

Example in old pug:
[code]

In pug 3, I need do:
[code]

This is my breaking change, but are more in [Pug 3](https://github.com/pug-php/pug/blob/master/CHANGELOG.md).

I propose you change this package v

[2017-10-25 09:22] kylekatarnls commented on #34
bkwld/laravel-pug is compatible with both pug-php 2 and 3, so you can downgrade pug-php with no conflict with laravel-pug as you can see in our unit tests (https://travis-ci.org/BKWLD/laravel-pug):

`composer require pug-php/pug:^2.7`

But I should warn you: pug-php 2 can become deprecated.

As you can see the old syntax was inconsistent for PHP-style syntax:
[code]

The new version brings more cu

[2017-10-25 09:56] montyclt commented on #34
Yes, I agree the old syntax is inconsistent with PHP syntax, I used search and replace in my project to fix it and I'm using Pug 3 (I'm really appreciate you work of new engine ❤️ ), but the problem is someone that only require `"bkwld/laravel-pug": "^1.3"` in his `composer.json` file like me and then run `composer update` breaks his project.

[2017-10-26 17:03] GMounir opened #35 "Route::is('home')"
Hello, after i do composer update All the pug templates are broken even the variables with **$value** i have to remove the $ to pass, but for **Route::is('home')** not working i spend all the day trying fix the problem with no result.
some help please...

[2017-10-27 05:40] kylekatarnls commented on #35
Hello, if all your expressions are in PHP (variables with $), you should set the option: `'languageExpression' => 'php'`
Route::is should not be a problem even in JS style, I will check why it could fail.

[2017-10-27 10:38] GMounir commented on #35
Thank you @kylekatarnls for reply , i returned back to **pug-php/pug "^2.7"** version, i will try your solution today

[2017-11-01 09:12] kylekatarnls commented on #35
Hi,
I get `Route::is('home')` working with both modes. I close this. If you still have trouble please provide more code and context to help me to reproduce your bug.

Thanks,

[2017-11-01 09:12] #35 closed, assigned to nobody

[2017-11-01 09:15] kylekatarnls commented on #34
I thought a lot of it and realized that removing the tag would be even worst. But it could be possible to detect is someone is requiring `laravel-pug` in a way that allows both <1.5 and >=1.5 to warn him and give him a link to the documentation.

[2017-11-01 16:25] #34 closed, assigned to kylekatarnls

[2017-11-18 08:39] bickle66 opened #38 "@php directive doesn't work"
I have a loop that I set a variable so I use the @php & @endphp directives.

This worked in 1.4.1 and below, but broke in ^1.5.0

I get a weird doubling up of php tags in the compiled view.

[code]

[2017-11-19 06:56] kylekatarnls commented on #38
I will inspect. Meanwhile, you can use the pug PHP filter.
[code]

[2017-11-26 19:05] kylekatarnls commented on #38
After inspection, the problem come from the change we made for indented contents. It concerns only 2 blade directives: `@php` and `@verbatim`. It would be risky to implement a custom handle of them. And you can use both like this:

[code]

And the better solution for PHP embedded still remains the pug PHP filter if it does not generate blade code that you would keep not parsed.

I hope the solutio

[2017-11-26 19:05] #38 closed, assigned to nobody

[2017-12-05 01:21] weotch opened #42 "How to call static methods in Pug 3?"
@kylekatarnls is it no longer possible in version 3 of https://github.com/pug-php/pug to call static methods from pug?  Like Laravel facade methods?

For instance:

[code]

This currently errors with:

[code]

The compiled PHP looks like:

[code]

Do I have to use the `share()` helper function?  https://github.com/pug-php/pug#php-helpers-functions

[2017-12-05 08:24] kylekatarnls commented on #42
Hum, strange, I test the following: `p=DateTime::createFromFormat('j-M-Y', '15-Feb-2009')->format('j')` in both PHP and JS expressionLanguage and it's still working on pug-php 2 and 3.

A more strict exception test might be needed in the js-phpize extension.

[2017-12-05 09:48] kylekatarnls commented on #42
Hi, I introduce new unexpected tokens in `js-phpize` that are not valid in JS like `::` to throw lexer exceptions and so force `pug-php` to fallback to the PHP language.

Can you try to update your dependencies?

[2017-12-05 16:56] weotch commented on #42
Yup, that fixed it!  Thanks!

[2017-12-05 16:56] #42 closed, assigned to nobody

[2017-12-12 17:32] kylekatarnls opened #43 "laravel-pug is now compatibile with Lumen!"
@weotch You can add the lumen tag to this project and maybe change the description:

[code]

I will just wait for the unit tests results before tagging a version with the new Lumen compatibility.

[2017-12-13 15:28] weotch commented on #43
NIce!  Done.

[2017-12-13 15:28] #43 closed, assigned to weotch

[2018-01-31 19:09] ghost opened #45 "lots of php code in my output"
Hello,

I’m quite new to laravel, pug, phug, composer and all that stuff … but I like it! so thanks to you for building this bridge to pug.

What I don’t understand is, why the compiled file in the `storage/framework/views` folder contains so much php code?

Here is my `*.pug` file:

[code]

and it compiles to:

[code]

But I only want it to compile simply to:

`<!DOCTYPE html><html><head><meta ch

[2018-01-31 19:13] ghost opened #46 "Add https://www.phug-lang.com to your GitHub Description"
Because it took a while for me to discover, that your package is based on "phug", I would recommend you to add [https://www.phug-lang.com](https://www.phug-lang.com) as a language reference to your GitHub description page.

Thx!

[2018-01-31 19:21] ghost opened #47 "How to be sure that the ExceptionHandler is working?"
I’ve created a class with the code of your GitHub page and put it into `app/Exceptions/ExceptionHandler.php`. Is that correct?

How can I be sure that it works?

[2018-01-31 21:33] kylekatarnls commented on #47
To test the exception handler, throw an exception :)

Runtime error:
[code]

Custom exception:
[code]

The exception handler should show you the tag/filter the error come from.

[2018-01-31 21:38] kylekatarnls commented on #46
Hi, in fact laravel-pug used pug-php before pug-php use Phug. Phug is the merge of pug-php and tale-pug into a common project with more customization and more documented. We will put a link. If you think of a particular place in the README you can send us a pull-request.

[2018-01-31 22:00] kylekatarnls commented on #45
Hi,

You can notice than the following:
[code]
Will compile into pure HTML.

But as soon as you will use attributes, there is potential handle such as:
[code]
That will render:
[code]
And not:
[code]
And as attributes can have dynamic names and values, some dependencies comes with it ready-to-use.

We have a big optimization plan and use profiling tools to realize it and what I can say is those de

[2018-03-22 10:03] kylekatarnls commented on #46
Done.

[2018-03-22 10:03] #46 closed, assigned to kylekatarnls

[2018-03-22 10:03] #47 closed, assigned to kylekatarnls

[2018-03-23 09:51] mbalandis opened #48 "composer update issue"
After adding a dependency `composer require bkwld/laravel-pug` I get questions whether to install node packages but to which I answer Y and after it said that it is added to be installed with npm. It NEVER adds to composer.json extra field of my Laravel project and every time I do `composer update` it keeps asking same questions over and over.

Some extra details:

Environment: Laravel Homestead o

[2018-03-23 12:32] kylekatarnls commented on #48
It's OK. packages are installed (according to the message). It does not need to change anything in your own composer.json,

And as the message says: it "install/update". So when you run composer install/update, it asks you for installing the first time, then updating if new versions available the next times.

You can use `composer update --no-interaction` to install/update without asking.

[2018-03-23 12:32] #48 closed, assigned to nobody

[2018-03-23 12:33] #45 closed, assigned to nobody

[2018-04-24 14:24] GeometryRamiroGarcia opened #49 "how to minify"
Thanks for this works very well, you can modify the file.pug

[2018-04-24 14:42] kylekatarnls commented on #49
Sorry, I did not understand which modification and which file.pug you're talking about.

About minifcation, you can check the pug-minify documentation (the module we used internally):
https://github.com/pug-php/pug-minify

[2018-04-24 15:42] GeometryRamiroGarcia commented on #49
I mean all the pug files of the project, I'm new to laravel. Minifying pug files is best done when the project is published ?

[2018-04-24 16:21] kylekatarnls commented on #49
First you need to wrap your assets in `minify` blocks (as shown in the README of https://github.com/pug-php/pug-minify).

Then Laravel has an environment system. For example when you run `php artisan serve`, the environment is "development" by default (if so pug-minify will not minify your assets to help you to debug).

And when running your site with Apache or nginx, the environment is "productio

[2018-04-24 16:30] GeometryRamiroGarcia opened #50 "Compiling blade code in pug templates"
@kylekatarnls :)

It works and compiles perfectly

![screen shot 2018-04-24 at 11 20 31 am](https://user-images.githubusercontent.com/38221701/39200350-8c988496-47b1-11e8-9ebb-5fa888d464be.png)

![screen shot 2018-04-24 at 11 21 02 am](https://user-images.githubusercontent.com/38221701/39200365-99351020-47b1-11e8-86fb-459ad0d322a0.png)

### *************************************

But if I use an `e

[2018-04-24 16:33] GeometryRamiroGarcia commented on #49
Thanks @kylekatarnls

[2018-04-24 16:33] #49 closed, assigned to nobody

[2018-04-24 17:56] kylekatarnls commented on #50
I recommend to use pure pug template (extends, :php filter and if/elseif all exist in pug) rather than mixing blade and pug code. But if you still want to use both, you need to name the file with .pug.blade extension as mentioned in the README.

[2018-04-25 19:10] GeometryRamiroGarcia commented on #50
Thanks @kylekatarnls

[2018-04-25 19:10] #50 closed, assigned to nobody

[2018-04-25 19:14] GeometryRamiroGarcia opened #51 "Options blade in pure pug"
Sorry for this beginner question I'm a novice @kylekatarnls.

I'm using only pug as you advised me. But I do not know how you can use this type of options that we offer balde

`link(rel='stylesheet', href='{{ URL::asset('css/main.css') }}')`
`html(lang="{{ app()->getLocale() }}")`

[2018-04-25 19:35] kylekatarnls commented on #51
Default setting allow you to use JS-style syntax (like in the original pugjs).
[code]

Else you can set the expressionLanguage to php to use PHP expressions (faster execution).

[2018-04-25 20:14] GeometryRamiroGarcia commented on #51
Thank you where I can change expressionLanguage

[2018-04-25 20:14] #51 closed, assigned to nobody

[2018-04-25 20:17] GeometryRamiroGarcia opened #52 "Iteration"
Where I can change expressionLanguage

**PUG**
[code]

**BLADE**
[code]

 **BKWLD/laravel-pug**
 I do not know if it's like that?
[code]

[2018-04-26 07:19] kylekatarnls commented on #52
`'expressionLanguage' => 'php'` can be set in config/laravel-pug.php (see https://github.com/BKWLD/laravel-pug#configuration)

But it seems you use JS-style (the default value), so just use your input variable and just forget blade `@` and `{{ }}`, Pug does not use it:
[code]

[2018-04-26 15:38] GeometryRamiroGarcia commented on #52
Thanks @kylekatarnls

[2018-04-26 15:38] #52 closed, assigned to nobody

[2018-06-11 10:34] explicit-logic opened #53 "Bemto mixins does not work"
Hi there.
Bemto mixins (https://github.com/kizu/bemto) for writing BEM-style code for Pug does not work.

https://i.imgur.com/gCUVjKs.png

### Steps to reproduce bug
1. Clone bemto repository to views:
[code]
2.  Add route
[code]
3.  Go to *http://site-name/bemto* .

[2018-06-11 11:35] kylekatarnls commented on #53
Hi,

**laravel-pug** use a PHP engine to render the pug code. It can handle simple JS code by converting it into PHP but it does not run JS code, else it would disallow to use PHP objects in your pug templates.

As you can see bemto is deeply tied to JS stuffs: https://github.com/kizu/bemto/blob/master/lib/bemto.pug

A simple example: `options && options.tag || ( typeof options == 'string' ? optio

[2018-06-11 11:38] kylekatarnls commented on #53
Note: mixins won't just work by cloning the repository. You must include the **bemto/bemto.pug** file (using the right path according to where you put it) as mentioned on the project README.

[2018-06-11 15:12] explicit-logic commented on #53
I set option `'pugjs' => true`, and installed `npm i pug`, but this did not solve the problem. https://i.imgur.com/udi2yT5.png

[2018-06-11 16:25] kylekatarnls commented on #53
Sorry, it's not `npm i pug`, this will search in your local node_modules. Remove your vendor directory, then re-install with `composer install`. When you're asked to install the pug node package, enter `Y` and enter to install it.

I guess, you answered *no* and remember the choice the first time so as the pugjs package cannot be found in its expected place, it fallback on the PHP engine.

[2018-06-11 17:51] explicit-logic commented on #53
Still does not work :disappointed:

How to check that this package is installed?
My OS is Windows 10, I use homestead.

[2018-06-11 18:20] kylekatarnls commented on #53
The pug node package is installed in **vendor/nodejs-php-fallback/nodejs-php-fallback/node_modules/pug-cli** so in your case, you must find it in **/home/vagrant/code/molfar/vendor/nodejs-php-fallback/nodejs-php-fallback/node_modules/pug-cli** and the config `'pugjs' => true` to enable it should be in **/home/vagrant/code/molfar/config/laravel-pug.php**

[2018-06-21 07:54] kylekatarnls commented on #53
I close this and assume you get it working with pugjs native engine. But feel free to ask if you need further help for this.

[2018-06-21 07:54] #53 closed, assigned to kylekatarnls

[2018-06-25 16:14] GeometryRamiroGarcia opened #54 "Laravel Javascript"
how can I use this function of this [plugin](https://github.com/cretueusebiu/laravel-javascript)
{{ ScriptVariables::render() }}

[2018-06-25 20:39] kylekatarnls commented on #54
As any expression in Pug:
[code]
For example inside a `<p></p>`:
[code]

[2018-06-25 20:39] #54 closed, assigned to nobody

[2018-06-25 22:56] GeometryRamiroGarcia commented on #54
I had already tried it like that but I printed it as text

[2018-06-26 05:59] kylekatarnls commented on #54
If you need to dump HTML, you need the raw flag `!`:
[code]
See the code section in the doc https://en.phug-lang.com#buffered-code

It's the same than in pugjs: https://pugjs.org/language/code.html

[2018-07-03 22:09] GeometryRamiroGarcia opened #55 "Sublime text"
They know some plugin for the syntax highlighting of Pug in sublime text @weotch @justin-jewett

Graciass

[2018-07-03 22:11] weotch commented on #55
Sorry, not sure about Sublime.  We (at Bukwild) are either using Atom or VS Code.

[2018-07-03 22:11] #55 closed, assigned to nobody

[2018-07-04 09:29] kylekatarnls commented on #55
The SublimeText plugin is still named `Jade` (the old name of Pug), but the highlight will still be right in most cases so you can install this one.

[2018-08-15 18:53] wolfgang42 opened #56 "Nested renders cause mangled view cache"
I have a template `search.pug` which uses Laravel's database pagination. I therefore have two views, `search.pug` and `vendor/pagination/default.pug`, and the search view calls `$results->links()` which renders the pagination. When I clear the view cache and load this page, it apparently caches the search view code into the cache file for the pagination view, causing errors when it later tries to

[2018-08-16 12:01] kylekatarnls commented on #56
I added a vendor/pagination/default.pug and it properly displays.

I also can see that the rendered template of the pagination is properly renderer alone in a file and that in the page the links call is kept.

Can you provide a zip to reproduce?

[2018-08-16 22:14] wolfgang42 commented on #56
Ah, it seems that it only happens when the `search` view extends another template. Here is a full reproduction test case: [pug-repro.zip](https://github.com/BKWLD/laravel-pug/files/2295375/pug-repro.zip) (11.6 MiB)

[2018-08-19 08:03] kylekatarnls commented on #56
thanks downloaded and reproduced, indeed, there is something that blocks in the paginator template. Curious because I have nearly the same in my project (except it uses JS-style) I test the different pieces of the paginator template.

[2018-09-10 02:48] Illiou commented on #51
@kylekatarnls When I try to use this line `html(lang=app().getLocale())` I only get the following PHP error:
`Function name must be a string`

Just a single view, this single line, no settings changed.

[2018-09-10 05:33] kylekatarnls commented on #51
What is your Laravel version?

[2018-09-10 11:42] Illiou commented on #51
Ah sorry, Laravel 5.7.2, Windows 10.

[2018-09-10 11:56] kylekatarnls commented on #51
Sorry, it's a bug from our engine, you can use `html(lang=app()->getLocale())` until we fix it.

[2018-11-09 09:13] smsonn commented on #2
how to get data from database in view page. then make fetch for this data ?
example
var get_data = DB::table('tableName')->get()
@foreach($get_data as $a)
    {{ $a->id }}
@endforeach

[2018-11-27 01:33] wolfgang42 commented on #56
~~This problem seems to have gone away after an upgrade; I just tried the reproduction I linked above and once I run `composer upgrade` it doesn't have the problem any more.~~ *[Edit: never mind, I was confused.]* Relevant versions are:
  - Updating phug/util (0.4.15 => 0.4.16): Downloading (100%)
  - Updating phug/reader (0.2.1 => 0.2.2): Downloading (100%)
  - Updating phug/lexer (0.5.27 => 0.5.

[2018-11-27 04:41] wolfgang42 commented on #56
Sorry, no, I got confused and used the wrong copy of my test code. This still isn't working even with the latest versions of everything. Ignore my last comment.

[2018-11-30 21:57] kylekatarnls commented on #56
Hi @wolfgang42, I finally understand what's happening. I think I can provide a fix soon.

[2018-11-30 22:03] #56 closed, assigned to kylekatarnls

[2018-11-30 22:20] kylekatarnls commented on #56
Quick fixed on `dev-master`, can you try to update and see if all is fine for you? I have some tests to fix before releasing the tag will inspect deeper the root cause.

[2018-12-01 15:00] kylekatarnls commented on #56
Clean solution here: https://github.com/BKWLD/laravel-pug/pull/57

So you could rather try the version `dev-isolated-compilation`

[2019-02-14 15:21] jedybeavis opened #58 "view-source: in browser inline"
I want view-source: in browser pretty, how i can change?

[2019-02-14 15:46] kylekatarnls commented on #58
Options are in **/config/laravel-pug.php** (in Laravel 5), here you can pass any option from https://www.phug-lang.com/#options such as `'pretty' => true,`

[2019-02-14 15:46] #58 closed, assigned to nobody

[2019-03-17 08:08] ChadHorn opened #59 "All blade references (stacks/yield/etc.) not working."
I noticed that any referenced of @(yields/stacks/etc.) aren't working with Blade. I don't see any reference to it in the code, nor in the config. I'm running my files as FILENAME.pug.blade, as referenced in the README. Any guidance is appreciated.

Laravel version: 5.8.4

https://laravel.com/docs/5.5/blade#stacks

[2019-03-17 09:58] kylekatarnls commented on #59
Hi,

You can simply use Pug for that.

Instead of:
[code]
Do:
[code]
And instead of:
[code]
Do:
[code]

https://www.phug-lang.com/#block-append-prepend

Thanks,

[2019-03-17 13:39] kylekatarnls commented on #59
And I checked, there is no trouble to get yield/stack etc. to work:

**view.pug.blade**
[code]

**layouts/global.pug.blade**
[code]

As the code above works and as you don't provide your code I can not figure out what your problem is.

I close this issue. But if you can provide a code chunk to reproduce your problem, I would re-open it.

[2019-03-17 13:39] #59 closed, assigned to nobody

[2019-03-18 00:32] ChadHorn commented on #59
Thanks for the quick response! It worked as you suggested until I updated to the most recent Laraval version. I'm going to include all pertinent files and snippets below:

_**_layouts/general.pug.blade:**_
[code]

_**landing.pug.blade:**_
[code]

_**config/laravel-pug.php:**_
[code]

_**app/Exceptions/Handler.php:**_
[code]

I _**sincerely**_ appreciate your help with this.

[2019-03-18 07:45] kylekatarnls commented on #59
Hello,

The trick is you can't indent `@xx`  contents, because, indent will be parsed by Pug as child and we do not want to parse it as a child with Pug, we want to pass it as is to the Blade engine, so:

[code]

Not:
[code]

However if you use the Pug syntax `block append scripts` (and I strongly recommend this option), you should indent it as it's a Pug structure.

Have a nice week.

[2019-03-18 23:19] ChadHorn commented on #59
Oy. You are awesome. I was using another parser to pre-parse it in Webpack that allowed it for some reason, and didn't catch that. Thank you so much for the continued support.

[2019-04-24 21:11] mhdalalwan opened #60 "Pug code not rendered when including/extending .pug.blade.php and .pug.blade files"
All files with .pug extension are rendered, but using .pug.blade they do not get rendered.

[2019-04-26 08:51] kylekatarnls commented on #60
Hi, I just tested with laravel-pug 1.7.1 in Laravel 5.8, I created 2 templates: `page1.pug.blade` then called `return view('page1');` and created `page2.pug.blade.php` and called `return view('page2');`

Both displayed properly.

Can you provide more details? Your code, templates paths and names, library and framework versions, and the exception you get.

[2019-04-26 09:00] mhdalalwan commented on #60
I have 2 files, one called layout.pug.blade.php and the other called home.pug.blade.php
When i tried to extends the layout in home this is what i get.

`html head meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no') title #{title} link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css") link(rel="stylesheet", href="https:/

[2019-04-26 09:13] kylekatarnls commented on #60
Problem found, the Pug-php engine will just consider the "real" extension (`pathinfo($path, PATHINFO_EXTENSION)`) for include/extend, so .pug.blade.php are PHP files for Pug, and .pug.blade are Blade, none are handled and so Pug returns the input as is.

This will need [phug/compiler](https://github.com/phug-php/compiler) to support macro-extensions.

[2019-04-26 22:55] kylekatarnls commented on #60
Will be fixed in the next release via #61.

[2019-04-27 20:37] kylekatarnls commented on #60
1.7.2 released. use `composer update` to get last `phug/compiler` and last `bkwld/laravel-pug`

[2019-04-27 21:36] mhdalalwan commented on #60
Still not working

I have 2 pages

- layout.pug.blade.php
`h2 test from layout
block content
`
- welcome.pug.blade.php
`extends layout.pug.blade.php
block content
h2 test from welcome`

Result

[2019-04-29 07:47] kylekatarnls commented on #60
It should be just `extends layout` instead of `extends layout.pug.blade.php`.

But usage with full name seems fair. I will also add an option for that.

[2019-04-29 09:55] kylekatarnls commented on #60
<s>You can update again, the `phug/compiler` **0.5.23** allow now both `extends layout` and `extends layout.pug.blade.php`</s>

[2019-04-29 13:23] kylekatarnls commented on #60
**0.5.23** is still broken, I will update it.

[2019-04-29 13:53] kylekatarnls commented on #60
You can update again, the `phug/compiler` **0.5.24** allow now both `extends layout` and `extends layout.pug.blade.php`

[2019-04-29 13:53] #60 closed, assigned to kylekatarnls

[2019-04-29 14:00] mhdalalwan commented on #60
0.5.24 is not working for extends

<img width="308" alt="Screen Shot 2019-04-29 at 4 59 55 PM" src="https://user-images.githubusercontent.com/5927525/56901190-3d768580-6aa0-11e9-9b23-2ed2be092e33.png">

[2019-04-29 14:24] kylekatarnls commented on #60
It's working on Travis with the following test:
https://github.com/BKWLD/laravel-pug/blob/master/tests/ServiceProviderTest.php#L482
And files here:
https://github.com/BKWLD/laravel-pug/tree/master/tests/composite-extension

It uses the informations you gave me, please check what's different from your case.

[2019-05-07 07:35] IAntonioDev opened #62 "PhpStorm"
Hello, how can I get help with all the Laravel methods and global variables inside a .pug or .pug.blade file? if I use
`:php dd(app())`
It works and shows the app() data, but how can I get help as when I'm Working with Blade?

[2019-05-07 07:51] IAntonioDev commented on #62
Also how do you get help on VS Code?

[2019-05-07 09:51] kylekatarnls commented on #62
IDEs need language definition files. They can be provided by plugins. As far as I know, such plugins exist for Pug.js, but not for Pug-php.

https://blog.jetbrains.com/idea/2013/01/how-to-write-custom-language-support-plugins/
https://macromates.com/manual/en/language_grammars

Any help in creating such plugins is welcome.

[2019-05-17 15:58] kylekatarnls opened #63 "New Packagist hook"
Hi @weotch, the new packagist hook does not seem to be installed as auto-update did not take the last commit: https://packagist.org/packages/bkwld/laravel-pug#dev-master (commit should be 61beabb35e455accb5af1e6f80f01376b0fa8969). Could you please configure Packagist the new way:
https://packagist.org/about#how-to-update-packages

Thanks.

[2019-05-20 18:17] weotch commented on #63
I _think_ this is fixed now.  Also, I've promoted you to Admin of this package as well.

[2019-05-20 19:53] kylekatarnls commented on #63
It's up to date, perfect! Thanks.

[2019-05-20 19:53] #63 closed, assigned to weotch

[2019-05-24 18:49] sofubi opened #64 "Question about pugjs => true"
Hey there, I'm having issues getting `'pugjs' => true ` to work in the `/config/laravel-pug.php` file. I've set the option but it doesn't seem to be working. I've surfed issues and saw someone else had this issue but they were on a vagrant setup. I'm currently working on XUbuntu 18.04. I'm able to reach the site just fine but I'm getting errors that would indicate that PHP is still rendering out o

[2019-05-24 18:54] sofubi commented on #64
Just wanted to add that #53 is very similar to my issue and is what I was referring to.

[2019-05-24 20:15] kylekatarnls commented on #64
Please provide the exact errors you get, and the view you're rendering.

[2019-05-30 10:07] #64 closed, assigned to nobody

[2019-05-30 10:08] kylekatarnls commented on #64
I consider this as solved, if you still have trouble, please provide us a way to reproduce your bug and your exact error and I would re-open this.

[2019-06-11 13:05] smsonn opened #65 "how to use relationship output in page.pug"
how to use relationship output in page.pug
@foreach($request as $g)
{!! $g->user_id()->first()->name !!}
@endforeach

[2019-06-11 15:57] kylekatarnls commented on #65
[code]

Think Pug first and your code will be shorter.

[2019-06-11 15:57] #65 closed, assigned to nobody

[2019-06-13 12:25] smsonn commented on #65
Unfortunately it does not work
Function name must be a string (View:
C:\Users\smsonn\Desktop\vargets\resources\views\index.pug)

On Tue, Jun 11, 2019 at 6:57 PM Kyle <notifications@github.com> wrote:

[2019-06-13 12:29] smsonn commented on #65
Unfortunately it does not work.
Error
Function name must be a string

[2019-06-13 12:30] smsonn commented on #65
Unfortunately it does not work.
Error
Function name must be a string

On Tue, Jun 11, 2019 at 6:57 PM Kyle <notifications@github.com> wrote:

[2019-06-13 17:37] kylekatarnls commented on #65
It's very strange that `user_id` would be a method. I think it's not a problem from the template but from the data.

Try to debug it step by step, so with the error line, you will now what is missing:

[code]

[2019-06-17 11:42] picbenoit opened #66 "How to pass variables using View::composer()?"
Hello,

I try to use View::composer to share variables to specific view, but it not working.

`View::share('myvar', 'myval'); // is working as well but share the variable to all view.`

[code]

My pug view is called in another pug file like :
[code]
I also tried that code as suggest in #23 but it's not working too :
`footer!= view('partials._footer')`

Thank you for your help,

Ben.

[2019-06-17 12:00] kylekatarnls commented on #66
I think there is no equivalent for this feature in Pug. As we mimic the JS variable scoping. I'm not sure it would be possible.

But if you use `.pug.blade` files, you still can call Blade statements:
[code]

I think the `$view->with('myvar', 'myval');` is executed, but as the engine and variables are already set, it does not propagate to the view.

[2019-06-17 19:30] picbenoit commented on #66
I tried to change my file to pug.blade and pug.blade.php but still doesnot work (I had already tried this solution before it seems to me).
Seems laravel pug not supported view composer yet.
I will continue to use global share for my common elements for the moment. Thank you @kylekatarnls for your help.

Ben

[2019-06-19 13:29] kylekatarnls commented on #66
In fact you just miss the return :)
[code]

[code]

[2019-06-19 13:29] #66 closed, assigned to nobody

[2019-06-20 20:57] picbenoit commented on #66
Great ! Thank you so muck @kylekatarnls
Just missing the return as you told on your post.
The example on Laravel documentation is not complete (no mention of return) :
[code]
To be complete, I can keep my file as pug, don't need to change to pug.blade or pug.blade.php

[2019-06-21 05:50] kylekatarnls commented on #66
Yes, `.pug` is preferable as long as you don't need specific Blade features (and most of them have equivalent ones in Pug). I mentioned it to test `| @include()`

[2019-07-28 17:12] OccTherapist opened #67 "Same variable name as in loop, causes unexpected behavior"
I ran into this issue today where I passed `['bar' => $bar, 'foo' => $foo]` to the view. Then when iterationg over `$foo->bar as $bar`, the `$bar` passed from the controller got replaced. Even after the loop.

[code]

`$bar` is now equal to `$foo->bar`.

[2019-07-29 05:51] kylekatarnls commented on #67
Hi @OccTherapist, it's how PHP works: https://3v4l.org/M7XmJ

We use the PHP `foreach` statement to handle those loops.

But indeed pugjs scope the iteration variable into the loop and we should try to mimic this behavior, so I opened an issue to update the renderer:
https://github.com/phug-php/phug/issues/41

[2019-07-29 12:46] kylekatarnls commented on #67
Fixed, you can run `composer update` to get the compiler fix.

[2019-07-29 12:46] #67 closed, assigned to nobody

[2019-08-05 05:02] matthewjumpsoffbuildings opened #68 "Using @ directives in js mode"
How do I use `@error` or `@guest` or `@auth` or things like that in js pug mode?

for example something like this
[code]

[2019-08-05 05:30] matthewjumpsoffbuildings commented on #68
it would be nice to have documented somewhere all the pug js features that map directly to the template control structures laid out here

https://laravel.com/docs/5.8/blade#control-structures

[2019-08-05 06:16] kylekatarnls commented on #68
Second example of the README:
https://github.com/BKWLD/laravel-pug#usage

Use `.pug.blade` extension.
And in your case (nothing to escape), the `|` is not needed:
[code]

Pug-php is fully documented here: https://phug-lang.com

`@auth` is `if Auth::id()` `@guest` is `if Auth::guest()`

If you use the option `'pugjs' => true` then you will need to share `'userId' => Auth::id()` as a global variable

[2019-08-05 06:16] #68 closed, assigned to nobody

[2019-08-18 07:38] matthewjumpsoffbuildings opened #69 "Errors with evaluating expressions"
Im using this pug expression to spit out some inline js in a `.pug` template
[code]
I want this to spit out something like this:
[code]
The current error Im getting is
[code]
I have tried all manner of variations on this and im constantly getting errors which I dont understand. I tried using `+` for the string concatenation, I tried using backticks, none of it is working. I dont understand if im i

[2019-08-18 08:46] kylekatarnls commented on #69
Hi,

Concatenation in JS mode is `+` , not `.` and js-phpize (the JS to PHP compiler) do the `isset()` for you, so it's simply:
[code]

And I would even recommend:
[code]

This way you don't have to hard-code "true" and "false" with mistype risk.

[2019-08-18 08:46] #69 closed, assigned to nobody

[2019-09-06 17:38] OccTherapist opened #71 "Error Page Render Error on Laravel 6.0.1"
Hi,

the error pages don't render properly in development mode witrh the new Laravel 6.0.1

<details>
 <summary>All I get is:</summary>

[code]

</details>

[2019-09-06 22:14] kylekatarnls commented on #71
Thanks for the report, I will inspect.

[2019-09-07 12:12] kylekatarnls commented on #71
I tried a division by 0 in a template with a fresh install of Laravel 6 and get no trouble, I have a clean display of the error.

Please give a minimum example to reproduce your bug in a fresh install (template/controller).

[2019-09-07 14:55] kylekatarnls commented on #71
And please also give your PHP version.

[2019-09-07 15:21] OccTherapist commented on #71
I tested it on a fresh minimalistic installation and everything worked. Then I tested it on my previous situation and it errored again like before.

There were no differences in the error handling files.

The only difference was I was running the first test on port 3000 after "npm run watch" and had browsersync installed. On the second one I tested it on port 8000 ("php artisan serve") and the err

[2019-09-07 15:25] OccTherapist commented on #71
Here is my complete webpack.mix.js file:

[code]

[2019-09-08 12:06] kylekatarnls commented on #71
Hi @OccTherapist , webpack.mix.js helped. Indeed the browserSync support seems incompatible. I'm trying to see if we could do an even better error handler using the new [Ignition](https://github.com/facade/ignition) package used by Laravel 6.

So we would no longer use a custom output, and those kind of problems would vanish.

[2019-09-08 12:29] kylekatarnls commented on #71
Hi again, after inspection, it's not a laravel-pug problem, if you do a similar error (like `{{ 1/0 }}`) in the **welcome.blade.php** template of a fresh install of Laravel 6.0, you get the same broken display.

So I opened an issue on Laravel:
https://github.com/laravel/framework/issues/29909

[2019-09-08 12:29] #71 closed, assigned to OccTherapist

[2019-09-08 21:05] kylekatarnls commented on #71
For the record, the version 1.9.0 of laravel-pug supports the facade/igniton display of Laravel 6 (but only on localhost:8000 due to open bug above).

[2019-09-14 18:44] Smankusors opened #72 "[Lumen 6.0] Unsupported Laravel Version"
Actually, there's something breaking when checking the version. When you call [`$app->version()`](https://github.com/BKWLD/laravel-pug/blob/master/src/ServiceProvider.php#L122), Lumen 6.0 will actually returns `"Lumen (6.0.2) (Laravel Components ^6.0)"` (note that there's caret after "Laravel Components").

Interestingly, when this called on Laravel 6.0, that function would return `"6.0.3"` instea

[2019-09-15 09:23] kylekatarnls commented on #72
If Lumen version is no longer synchronized with Laravel components version, we'll have to check if there is a proper way to get the exact version of Laravel components, else we could: ask Lumen team to create it and meanwhile guess it from ^6.0 in the string.

[2019-09-15 09:26] kylekatarnls commented on #72
At a first sight, the version string in Lumen is hard-coded so probably has not the laravel components version alone anywhere: https://github.com/laravel/lumen-framework/blob/9b3182e48142e3e61648ed3733d18c0bfbee2f0d/src/Application.php#L143

[2019-09-15 09:36] #72 closed, assigned to nobody

[2019-09-15 09:38] kylekatarnls commented on #72
For 4 to 6 version support, simply ignoring `^` and other possible symbols will be fine, I jut hope nothing incompatible would come up before version 7.

[2019-09-15 09:45] kylekatarnls commented on #72
Please try to update to [1.9.1](https://github.com/BKWLD/laravel-pug/releases/tag/1.9.1)

[2019-09-15 10:40] Smankusors commented on #72
yeap that fixed this. Thanks 😄

[2019-09-20 09:58] OccTherapist opened #73 "Another issue with the Exception Class"
Hi, on another project of mine I get this Exception

[code]

The project runs on Laravel  version 5.8.

[2019-09-20 11:26] #73 closed, assigned to nobody

[2019-09-20 11:30] kylekatarnls commented on #73
Hi thanks for your report. I will wait for Travis build before tagging a new release, but you can yet test the fix on `"bkwld/laravel-pug": "dev-master"`

[2019-09-27 18:01] kohki-shikata opened #74 "Doesn't expand blade variable in pug's html element attributes"
This is OK
`a(href="path/to/somewhere") {{ $path->somewhere }} - Path to Somewhwere`

And, this has not expanded.
`a(href="{{ $path->somewhere }}") Path to somewhere`

Finally, this has worked.
[code]
Ah, it's non-sense at laravel-pug, I think.

I need to set attribute as dynamically. How should I do?

[2019-09-28 10:28] kylekatarnls commented on #74
The expectation you mention and problem here is not clear to me, but maybe you want to simply do:
[code]
For the attribute, or for content:
[code]
See the syntax here: https://phug-lang.com

And prefer pug syntax over blade syntax (it's less verbose).

[2019-10-17 14:57] kohki-shikata commented on #74
Thanks, Work it.

[2019-10-17 14:57] #74 closed, assigned to nobody

[2019-12-24 11:29] lastwhitebird opened #75 "Provide support for different file extension order"
Currently there's no syntax highlighting support for "pug.blade" or "jade.blade" files.
I'm suggesting using the reverse order (along with the orginal) in /src/ServiceProvider.php:

[code]
i.e. blade.pug/blade.jade

Screenshot with result:
![Screenshot_20191224_152357](https://user-images.githubusercontent.com/13571877/71411178-c8c10e80-2661-11ea-9b2d-69df0dba30ac.png)

[2019-12-25 10:14] kylekatarnls commented on #75
This would break existing applications when users will update, but we can consider allowing both orders.

Meanwhile, you should check if you can use only `.pug` with no blade in your template. Be aware there is equivalent syntax in Pug for every feature of Blade. So to avoid having in your templates different syntaxes mixed for similar purpose you should try using pure Pug templates.

[2019-12-31 21:55] kylekatarnls commented on #75
With the version 1.11.0, you can now swap order of pug and blade/jade in the files extension.

[2019-12-31 21:55] #75 closed, assigned to kylekatarnls

[2020-01-16 10:44] kylekatarnls opened #76 "Drop old PHP/Pug/Laravel"
- Drop PHP < 7.2
- Drop Pug-php < 3
- Drop Laravel < 6
- Drop `.jade` file extension support
- Drop `.php` file extension support

[2020-01-16 10:44] kylekatarnls opened #77 "Embed phug/component"
Embed component support out-of-the-box and an option to disable it.

[2020-01-16 13:37] #62 closed, assigned to nobody

[2020-01-16 17:11] #76 closed, assigned to kylekatarnls

[2020-01-16 18:14] #77 closed, assigned to kylekatarnls

[2020-03-02 17:53] devhoussam opened #80 "Faild to Extend a pug file inside another File"
I have some issues
I want extends the **master.pug** to **index.pug** please help

**Folder Structurs**

[code]

[2020-03-02 18:10] #80 closed, assigned to nobody

[2020-03-10 05:10] anurat opened #81 "Laravel pug for Laravel 7"
Hi, Thank you for porting pug to laravel.

I know Laravel 7 is pretty new but it would be great to be able to use pug in Laravel 7.
Any plan to support it soon?

[2020-03-10 07:59] #81 closed, assigned to nobody

[2020-03-10 10:39] kylekatarnls commented on #81
Hello, a version bump in composer.json should be enough as there is no particular breaking change in views. You can already test it by requiring `"bkwld/laravel-pug": "dev-master"` I will also test with a fresh project and tag a version if it's OK.

[2020-03-10 10:50] anurat commented on #81
Thank you,

I did not know that I can require "bkwld/laravel-pug" : "dev-master".
I will do that.

Best,

[2020-03-10 12:50] kylekatarnls commented on #81
Released as [version 2.0.0](https://github.com/BKWLD/laravel-pug/releases/tag/2.0.0)

[2020-03-31 17:28] JonDeschenes opened #82 "Checking null value in pug from db call"
I'm having an issue checking a null value that is inside an object i got from my database. When i'm trying to check that value i get an array (json) of the object. Then, it's impossible to check if a value is null. With blade syntax it works fine.

When creating a custom variable and assigning it null everything works.

Exemple:
var_dump of what i get from database :
![image](https://user-images.g

[2020-03-31 21:12] kylekatarnls commented on #82
I confirm this bug. It may be due to the magic methods of `Model` class.

Meanwhile you can use:
[code]

[2020-04-01 08:44] kylekatarnls commented on #82
Hi, here are some more precise explanations. If you would have a public method `foobar` in some object `test` (of any class, Model or not), Pug would allow you to pass this method in JS-style:
[code]
As you may note, at the mixin call moment, we're not able to see that `test.foobar`will be called as a method/function. So we will check public properties definition of the class, if foobar is declare

[2020-04-01 15:11] JonDeschenes commented on #82
Hi, thanks for the quick replies. I'll use the alternative method you proposed with the .getAttribute().
Thx :)

I know its not related to this bug but I would like to know if there was a way to get the old() value of an input just like in blade when we use old('test') ?

[2020-04-01 19:31] kylekatarnls commented on #82
I just though about an other alternative you may prefer: you can add getters in your model:

[code]

Then in the template you can call:
[code]
Case does not matter (ApartNumber, apartnumber, etc.) as you can also reuse the exact same name naming the method `geApart_number`

Getters are often considered as a general best practice. As I always add getters and setters to not access directly the DB pr

[2020-04-05 20:47] kylekatarnls commented on #82
Hi, I'm preparing a fix for the cast to string. The handler of the dot operator (when the left value type cannot be determined) will now be an enhanced object rather than an array, This object will be callable like the array currently is (to support the `+title(test.foobar)` case) and will be able to be casted to string using the `__toString` method, so assuming it's not a method in this case).

I

[2020-04-06 06:38] #82 closed, assigned to kylekatarnls

[2020-04-06 14:24] kylekatarnls commented on #82
You can now update your dependencies with `composer update` and be able to use:

[code]

[2020-08-30 08:37] spekulatius opened #84 "Caching"
Hey,

I was wondering if (and how) caching is done / planned for? I would like to avoid reloading and processing the pug files on every request.

Cheers,
Peter

[2020-08-30 08:50] kylekatarnls commented on #84
View are cached in `storage/framework/views` as per default settings in `config/view.php` **compiled** entry.

[2020-08-30 08:50] #84 closed, assigned to nobody

[2020-08-30 09:11] spekulatius commented on #84
Cheers for the info!

[2020-11-05 07:34] anurat opened #86 "unable to install with composer 2"
Hello, thanks for your past help and sorry for more requests.

I recently upgraded composer to version 2, and there are errors when trying to install laravel-pug

[code]

My environment:
Laravel 8.0
PHP 7.4

[2020-11-05 08:32] kylekatarnls commented on #86
Hello, as per the message you get, you're not in conflict with Composer 2 but with illuminate/support (package of Laravel).

laravel-pug 1 is no longer supported and not compatible with the Laravel 8. Please first upgrade to laravel-pug 2 which is compatible with Laravel 8. Thanks.

If you have issue after this upgrade, please provide the complete composer.json. Thanks.

[2020-11-05 08:35] anurat commented on #86
Thanks, how do u upgrade to Laravel pug 2? I just installed with Composer
require bkwld/laravel-pug

On Thu, Nov 5, 2020, 3:32 PM Kyle <notifications@github.com> wrote:

[2020-11-05 08:53] kylekatarnls commented on #86
[code]

[2020-11-05 09:19] anurat commented on #86
I tried to change to version 2 but still got the following error.

[code]

[2020-11-05 09:43] kylekatarnls commented on #86
OK, this one is related to composer 2. Much better to work on. :)

[2020-11-07 16:50] #86 closed, assigned to kylekatarnls

[2020-11-07 16:52] kylekatarnls commented on #86
Please retry to install, it should be fine with 2.2.0 release.

[2020-11-08 23:14] anurat commented on #86
Thanks, I can install it without errors.

[2020-12-02 10:54] Coornifex opened #88 "PHP 8 support"
Hi,

Can you tell me if this package will support PHP 8 anytime soon ?

Regards.

[2020-12-02 13:53] kylekatarnls commented on #88
There is likely no blocker as pug-php itself runs on PHP 8, so if every tests pass, we'll just have to allow it in composer and release:
https://travis-ci.org/github/BKWLD/laravel-pug/jobs/747182578

[2020-12-02 14:10] #88 closed, assigned to kylekatarnls

[2020-12-02 14:13] kylekatarnls commented on #88
[Fixed in 2.3.0](https://github.com/BKWLD/laravel-pug/releases/tag/2.3.0)

[2021-05-21 06:28] krishat2017 opened #90 "TestCase not comply with psr-4 autoloading standard"
I tried to install laravel-pug with following command
  composer require bkwld/laravel-pug
During installation got following message. Please let me know how to fix this.
[code]
If it helps, I am running on
  Ubuntu 18.04
  PHP 8.0.5
  Composer 2.0.8
In my composer.json I noticed following line in 'require ', block : bkwld/laravel-pug": "^2.3"

Thanks

[2021-05-21 10:12] kylekatarnls commented on #90
Hello 👋

Thanks for the report, `TestCaseTypeBase` is a new test util we needed for PHP 8 compatibility on our test suite but it's not needed user side and should not impact the install according to composer rules.

Can you try to run `composer require phug/phug:1.8.1` and retry to run `composer require bkwld/laravel-pug`?

[2021-05-22 05:22] krishat2017 commented on #90
Hi
Thanks a lot for your support. I run both the commands as you suggested and it installed without any error message.

[2021-05-22 05:22] #90 closed, assigned to nobody

[2021-05-22 16:32] kylekatarnls commented on #90
Hi again, I just try to install `bkwld/laravel-pug` in a fresh install of Laravel 8, and it does not trigger any error message, only the skip messages you mention:

[code]

Those are not error messages, just simple notice telling you those files were not loaded and as it's test utile, there is nothing to worry about.

But the install works fine, and Laravel load pug view without any issues so I re

[2021-05-22 21:12] kylekatarnls commented on #90
It's now fixed with phug/phug 1.8.3

[2021-05-23 15:57] krishat2017 commented on #90
Thanks for the explanation and the fix.

[2021-09-19 02:09] hlsmelo opened #91 "how do you do a blade interpolation within an attribute?"
I tried in different ways to do the interpolation and I couldn't. no search answered any doubt

example: the code below

`input(type="text" value="{{ $text_value }}")`

always returns an input with the value "{{ $text_value }}"

[2021-09-19 09:47] kylekatarnls commented on #91
It would work only for a `.blade.pug` file, if it's a `.pug` file you can't, but in both case you can just use the Pug style:
[code]

[2021-09-19 09:47] #91 closed, assigned to nobody

[2021-09-19 13:47] hlsmelo commented on #91
but the variable is php, even if I set a value like
`@php
 $text_value='test'
@endphp`
and set it in the input like you said, it doesn't work

[2021-09-19 14:18] kylekatarnls commented on #91
I see.

Actually Pug variables are also in PHP when using this package, so for instance, this does work like a charm:
[code]
dual.blade.pug:
[code]

Loading /foo in browser:
[code]

But variable created by blade are created after Pug finish to compile the template. So Pug-php will simply take your file, parse it as Pug code, ignoring completely any Blade code, then it creates an intermediate blade

[2021-09-19 14:37] kylekatarnls commented on #91
To be more precise about the limitation: we need (for performance reason) to compile only once a template into a PHP file, then this cached PHP file is used to render the view for each HTTP request, so we don't have a re-compile for each user on each page load. This means a code like `input(type="text" value="{{ $text_value }}")` is not turned into `<input type="text" value="{{ $text_value }}">` b

[2021-09-19 14:44] kylekatarnls commented on #91
So finally, my recommendation would be to do the maximum in Pug code. The `.blade.pug` is designed to help transition from one to the other, but you can do with Pug anything you are actually doing with Blade, so at the end, you should be able to completely turn your template into a pure `.pug` file (and optionally include pure `.blade` files in it) and that will probably help you to have a cleaner

[2022-05-17 00:47] sebszocinski opened #94 "Support for Laravel 9?"
Laravel 9 requires `symfony/var-dumper` v6.0 but phug only supports up to v5.0

[2022-05-18 07:20] kylekatarnls commented on #94
Fixed in [phug 1.10.0](https://github.com/phug-php/phug/releases/tag/1.10.0), please try to `composer update bkwld/laravel-pug`

[2022-05-18 07:20] #94 closed, assigned to nobody

[2022-06-19 04:34] sebszocinski opened #95 "Issue implementing Laraform"
[Laraform](https://laraform.io/) has a render function to load forms that looks like this:
[code]

Frontend code:
[code]

When I try to render this using pug I get the following error from Vue:
[code]

Looks like it's an issue with unescaping the $form function? I've tried `!{$form->render()}` but that doesn't seem to work.

Any pointers?

[2022-06-19 05:32] sebszocinski opened #96 "colon attribute with JS object is being duplicated"
I'm trying to pass JS object to an attribute for a Vue component and if I do this:
[code]
It renders this:
[code]
And my Vue component fails because it's trying to read the `foo` attribute instead.

Why is this happening? and how can we prevent it?

[2022-06-19 10:38] kylekatarnls commented on #96
Hello, that's a good question. When I try it in https://phug-lang.com/#try it properly renders as:
[code]

So it does not comes from the Pug engine, there is something specific Laravel, laravel-pug adapter or your specific stack. I will try to reproduce the bug in tests.

[2022-06-19 10:49] kylekatarnls commented on #96
Sorry, I tried to reproduce, but I always get the content above with only 1 attribute using last version or Laravel and laravel-pug.

Please provide a minimum standalone steps to reproduce the bug. There is very likely something more in your stack which rewrite the view.

It might be a conflict or simply a bug from this other library. For instance try:

[code]

When doing this, Pug just does nothi

[2022-06-19 23:05] kylekatarnls commented on #95
With expressionLanguage => js (default)
[code]

With expressionLanguage => php
[code]

[2022-06-23 15:19] #95 closed, assigned to nobody

[2022-06-23 15:19] #96 closed, assigned to sebszocinski

[2022-10-07 20:17] jcastroa87 opened #97 "iif is not working"
I have a little problem with evaluation of string variables

`header()&attributes(pageTitle === 'NFT Marketplace' ? {'class': 'navbar d-block navbar-sticky navbar-expand-lg navbar-light position-absolute w-100'} : {'class': 'navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light'})
`
If have this evaluation as iif "pageTitle === 'NFT Marketplace'" work correctly when i use https://pre

[2022-10-08 07:49] kylekatarnls commented on #97
Hello, it's a precedence issue from our side, but you just need to enforce it with parentheses to work-around:
`(pageTitle === 'NFT Marketplace')`

[2022-10-08 12:10] jcastroa87 commented on #97
Everything works perfect now, thank you very much

[2022-10-08 12:10] #97 closed, assigned to nobody

[2022-10-08 21:25] kylekatarnls commented on #97
It should be fixed with `phug-php/phug` **1.11.0**, now parentheses should no longer be needed.

[2022-10-11 15:32] jcastroa87 commented on #97
this will be updated in this package or i need to manually update?

[2022-10-11 15:46] kylekatarnls commented on #97
You can simply run:
`composer u bkwld/laravel-pug -w`

to update the package and its dependencies. Or a global `composer u` to update everything.

[2022-10-11 15:53] jcastroa87 commented on #97
ty